{%load static%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desac-Voters - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static '/styles/style.css'%}">
    <link rel="stylesheet" href="{% static '/styles/dashboard.css'%}">
    <link rel="stylesheet" href="{% static '/styles/female_dashboard.css'%}">
    <link rel="stylesheet" href="{% static '/styles/subscriptions.css'%}">

    <script src="{% static '/js/main.js'%}"></script>
    <script src="{% static '/js/slideshow.js'%}"></script>
    <script src="https://kit.fontawesome.com/3a3f083ec4.js" crossorigin="anonymous"></script>
</head>
<body>
    {%block content%}
    {%endblock%}
</body>
</html>