{% extends 'pages/base.html'%}
{% load static %}

{% block title %} Choose subscription  {% endblock %}

{%block content%}
 <div class="sub-container">
        <div class="header-banner">
            <h1>Choose Subscription</h1>
        </div>
        <div class="subscriptions">
            <div class="container">
                <form id="admin-form" action="" method="POST">
                    <div class="input-container">
                    <h2>Weekly Subscription</h2>
                    <ul>
                        <li><h4>All Categories</h4></li>
                        <li><h4>Best Recommendations</h4></li>
                        <li><h4>Amazing Modals</h4></li>
                        <li><h4>Vote Freely</h4></li>
                        <li><h4>Two (2) Votes</h4></li>
                    </ul>
                    
                    </div>
                <button type="submit">Free</button>
                </form>
            </div> 
            <div class="container">
                <form id="admin-form" action="" method="POST">
                    <div class="input-container">
                    <h2>Weekly Subscription</h2>
                    <ul>
                        <li><h4>All Categories</h4></li>
                        <li><h4>Best Recommendations</h4></li>
                        <li><h4>Amazing Modals</h4></li>
                        <li><h4>Vote Freely</h4></li>
                        <li><h4>Two (2) Votes</h4></li>
                    </ul>
                    
                    </div>
                <button type="submit">K8.50/W</button>
                </form>
            </div> 
            <div class="container">
                <form id="admin-form" action="" method="POST">
                    <div class="input-container">
                    <h2>Monthly Subscription</h2>
                    <ul>
                        <li><h4>All Categories</h4></li>
                        <li><h4>Best Recommendations</h4></li>
                        <li><h4>Amazing Modals</h4></li>
                        <li><h4>Vote Freely</h4></li>
                        <li><h4>Five (5) Votes</h4></li>
                    </ul>
                    </div>
                <button type="submit">K15.00/M</button>
                </form>
            </div> 
        </div>
{%endblock%}